  <img src="/theme.jpg" alt="" width="100%" height="720">
  <div class="title">
    <div class="faded">
      <h1 style="font-size:6rem">HELLO, MY NAME IS</h1>
    </div>
    <div class="name">
      <div class="faded">
        <h1 style="font-size:6rem">Santiago Ramírez</h1>
      </div>
    </div>
  </div>
  <div class="engineer">
    <div class="faded">
      <h1 style="font-size:6rem">Control Engineer and</h1>
    </div>
  </div>
  <div class="centered">
    <div class="faded">
      <h1 style="font-size:4.4rem">Ruby on Rails Full-Stack Developer Training</h1>
    </div>
  </div>

  <div class="icon-bar">
  <div class="about-social">
  <ul>
    <li><a href="https://github.com/Sanra9" class="social-icon-ar circle git" target="_blank"><i class="fa fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/jefferson-cardona-85429a60?trk=hp-identity-name " target="_blank" class="social-icon-ar circle linkedin"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://www.facebook.com/santiago.ramirez.967" class="social-icon-ar circle facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/sanra9" class="social-icon-ar circle twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.instagram.com/sanrra999/" class="social-icon-ar circle instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
  </ul>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-ms-12 col-md-12"> <br><br><br><br><br><br><br>
    <hr/>
    <div class="aboutme">
    <h3 style="font-size:4.4rem">About me</h3>
    <div class="col-ms-10 col-md-10 col-md-offset-2">
      <!-- <p style="font-size:2.2rem">I'm control ingineer and Ruby on Rails full-Stack developer training from Medellín, Colombia. Inicié mis conocimientos como
      programador duerante mi carrera de ingeniería en la universidad, en donde estudié varios lenguajes como assembler, C and Grafcet
      y los utilicé en varias plataformas como MpLab, Mathlab, LabView entre otros, con el fin de diseñar, analizar e implementar
      sistemas de controles convencionales (ON-OFF, P.I.D) y avanzados (adaptativos, predictivos, lógica difuza, redes neuronales,
      entre otros) y aquí estoy aprendiendo a programar webs.</p><br><br> -->
      <p style="font-size:2.2rem">I'm control ingineer and Ruby on Rails full-Stack developer training from Medellín, Colombia. I started my knowledge as a
      programmer for the engineering career at the university, where I studied several languages ​​as assembler, C and Grafceto and uses on several platforms
      such as MpLab, Mathlab, LabView among others, in order to design, analyze and implement systems of conventional controls (<i>ON-OFF, PID</i>) and advanced
      (<i>adaptive, predictive, logic diffuses, neural networks, among others</i>) and here I am learning to program webs.</p><br><br>
      <div class="col-ms-5 col-md-5">
      <p style="font-size:2.2rem">Name: Santiago Ramírez</p><hr/>
      <p style="font-size:2.2rem">Age: 26</p><hr/>
      <p style="font-size:2.2rem">Phone: +57 3122550912</p><hr/>
      <p style="font-size:2.2rem">Email: sanra9@outlook.com</p><hr/>
      <p style="font-size:2.2rem">Address: Medellín, Colombia</p><hr/>
      </div>
      <div class="col-ms-5 col-md-5 ">
        <div class="photo">
          <img class="photo z-depth-1" src="/photo.JPG" alt="personla-photo">
        </div>
      </div>
    </div>
    </div>
    </div>

    <div class="col-ms-12 col-md-12"> <br> <br> <br> <br> <hr/>
      <div class="aboutme">
      <h3 style="font-size:4.4rem">Skilss</h3>
      <div class="col-ms-10 col-md-10 col-md-offset-2">
      <p style="font-size:2.2rem">As a web developer training i have a several skills in:</p> <br>
      <div class="col-ms-5 col-md-5"> <hr/>
        <p style="font-size:2.2rem">Ruby on Rails: </p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 65%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><p style="font-size:2.2rem">65%</p></div>
        </div> <hr/>
        <p style="font-size:2.2rem">JavaScript: </p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 65%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><p style="font-size:2.2rem">65%</p></div>
        </div> <hr/>
        <p style="font-size:2.2rem">REST API: </p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><p style="font-size:2.2rem">50%</p></div>
        </div> <hr/>
        <p style="font-size:2.2rem">Git/GitHub: </p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><p style="font-size:2.2rem">80%</p></div>
        </div> <hr/>
        <p style="font-size:2.2rem">Bootstrap: </p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><p style="font-size:2.2rem">90%</p></div>
        </div> <hr/>


      </div>



      <div class="col-ms-5 col-md-5"> <hr/>
        <p style="font-size:2.2rem">HTML5: </p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 85%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><p style="font-size:2.2rem">85%</p></div>
        </div> <hr/>
        <p style="font-size:2.2rem">CSS3/SASS: </p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><p style="font-size:2.2rem">80%</p></div>
        </div> <hr/>
        <p style="font-size:2.2rem">React JS: </p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><p style="font-size:2.2rem">30%</p></div>
        </div> <hr/>
        <p style="font-size:2.2rem">jQuery and Ajax: </p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><p style="font-size:2.2rem">70%</p></div>
        </div> <hr/>
      </div>

    </div>

  </div>
</div>

  <div class="col-ms-12 col-md-12"> <br> <br> <br> <br> 
    <div class="aboutme"> <hr/>
    <h3 style="font-size:4.4rem">Experience</h3>
    <div class="col-ms-10 col-md-10 col-md-offset-2">
    <h2 style="font-size:2.9rem"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Make it Real Camp:</h2> <br>
    <div class="col-ms-8 col-md-8 col-md-offset-1">
    <p style="font-size:2.2rem">WEB development intensive bootcamp - Graduated: 2018</p> <br>
    <p style="font-size:2.2rem">12 weeks full time 6PM-9PM code learning. For twelve weeks I was learning development of WEB applications based on
       Ruby On Rails framework and working with different technologies like HTML5, CSS3, Javascript, Postgres, GitHub,
       real time, responsive design, testing techniques, deploy with Heroku and Amazon WEB services.</p>
    </div>
    </div>
  </div>

  </div>
  </div>
</div>
</div>
